<div class="form_inner">
  <form  name="form" novalidate style="text-align:center">
    <div class="form-group">
        <br><h3>Add Expense</h3>
        <p class="add_error" style="color:red"></p>
        <label for="date">Date</label><input id="date" ng-model="date" placeholder="dd-mm-yyyy"><br>
        <label for="purpose">Purpose</label><input type="text" id="purpose" ng-model="purpose"><br>
        <label for="pm">Project Manager</label><input name="pm" type="text" id="pm" ng-model="pm">
        <label for="rate">Rate</label><input type="rate" id="rate" ng-model="rate"><br>
        <div style="padding-top:10px" class="button_div">
          <button id="submit" ng-click="SubmitAdd()">Submit</button>
          <button id="cancel" ng-click="HideAdd()">Cancel</button>
        </div>
    </div>
  </form>
</div>
