<div id="expensetable">
    <div class="wrap">
        <table class="head">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Reason</th>
                <th>Amount(in Rs)</th>
                <th>Approve</th>
            </tr>
        </table>
        <div class="inner_table">
            <table>
                <tr ng-repeat="data in fullData" ng-show="data.pm == 'Nishin'">
                    <td>{{ data.date }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.purpose }}</td>
                    <td>{{ data.rate }}</td>
                    <td>
                        <input type="checkbox" ng-click="approve_check($index,data.name)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>