<div id="expensetable">
    <div class="wrap">
        <table class="head">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Reason</th>
                <th>Amount(in Rs)</th>
                <th>Approve</th>
                <th>Notes</th>
            </tr>
        </table>
        <div class="inner_table">
            <table>
                <tr ng-repeat="data in fullData" ng-show="data.pm == 'Nishin'">
                    <td>{{ data.date }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.purpose }}</td>
                    <td>{{ data.rate }}</td>
                    <td>
                        <input id="approve_check" type="checkbox" ng-click="approve_check($index,data.name)" ng-checked="data.status == 1">
                    </td>
                    <td>
                        <button ng-click="popup()">Note</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="overlay"></div>
<div class="popup">
    <div class="popup_inner">
        <div>
            <h1>Note<div ng-click="popupClose()" class="close_popup">x<div> </h1>
            <textarea></textarea>  
            <div style="padding-top:10px" class="button_div">
              <button id="submit" ng-click="submitNote()">Submit</button>
              <button id="cancel" ng-click="popupClose()">Cancel</button>
            </div>  
        </div>
    </div>
</div>