
	<div class="details_page_header">
		<h4 style="display:inline-block;">Submitted by:</h4>
		<p id="user_name"> {{singleData.name}}</p>
		<button id="edit_button" ng-click="edit_click()">Edit</button>
		<button id="note_button" ng-model="noteHistory" ng-click="popup()">Add Note</button>
		<add-note ng-hide="notePopup"></add-note>
	</div>
	<div style="display:block">
	<div id="details_page_inner" style="display:inline-block">	
		<div>
			<label for="">Date: </label>
			<input type="text" ng-disabled="checked" ng-value="{{ 'singleData.date' }}" ng-model="singleData.date" id="date_detail">
		</div>
		<div>
			<label for="">Purpose: </label>
			<input type="text" ng-disabled="checked" ng-value="{{ 'singleData.purpose' }}" ng-model="singleData.purpose">
		</div>
		<div>
			<label for="">Project: </label>
			<input type="text" ng-disabled="checked" ng-value="{{ 'singleData.project' }}" ng-model="singleData.project">
		</div>
		<div>
			<label for="">Approver: </label>
			<input type="text" ng-disabled="checked" ng-value="{{ 'singleData.pm'}}" ng-model="singleData.pm">
		</div>
		<div>
			<label for="">Amount: </label>
			<input type="text" ng-disabled="checked" ng-value="{{ singleData.rate }}" ng-model="singleData.rate">
		</div>
		<div>
			<label for="">Invoice: </label>
			<input type='file' id="invoice_upload" ng-model="currentImage" class="invoice" onchange="angular.element(this).scope().readURL(this, angular.element(this).scope().singleData)"/>
			<a class="view_invoice" ng-hide = "singleData.invoice == 'No file chosen'" ng-click="openURL(singleData)" >View</a>
		</div>
		<div class="button_style">
			<button ng-click="submit_detailpage()" ui-sref="/expense" ng-show="$root.user_type == 'user'">Submit</button>
			<button ng-click="submit_detailpage()" ui-sref="/testexpense" ng-show="$root.user_type == 'admin'">Submit</button>
			<button ng-click="submit_detailpage()" ui-sref="/approverexpense" ng-show="$root.user_type == 'approver'">Submit</button>
			<button ui-sref="/expense" ng-show="$root.user_type == 'user'">Cancel</button>
			<button ui-sref="/testexpense" ng-show="$root.user_type == 'admin'">Cancel</button>
			<button ui-sref="/approverexpense" ng-show="$root.user_type == 'approver'">Cancel</button>
		</div>
	</div>
	<div class="history_wrap" style="display:inline-block">
		<label for="">History: </label>
		<section class="notes_container" >
			<ul ng-repeat="notes in singleData.note_array">
				<li ng-show = " '{{notes.note}}' != '0' ">{{ notes.note }}</li>
			</ul>			
		</section>
	</div>
</div>