<div>
	<div>
		<h4 for="">User Name:</h4>
		<p id="user_name"></p>
	</div>
	<div id="details_page_inner">	
		<div>
			<label for="">Date: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">Purpose: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">Project: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">Approver: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">Amount: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">Invoice: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">Note: </label>
			<input type="text" ng-disabled="checked">
		</div>
		<div>
			<label for="">History: </label>
			<input type="text" ng-disabled="checked">
		</div>
	</div>
</div>