<div id="btn_expense">
	<a class="btn_add red" ng-click="Show_Add_form()">Add expense</a>
</div>
<add-data ng-hide="showAddExpense"></add-data>

<div id="expensetable">
	<div class="wrap">
	    <table class="head">
	        <tr>
				<th>Date</th>
				<th>Purpose</th>
				<th>Project</th>
				<th>Approver</th>
				<th>Account(in Rs)</th>
			</tr>
		</table>
		<div class="inner_table">
	        <table>
	             <tr ng-repeat =  "emp in fullData | filter: { name : $root.user}">
					 <td>
						 {{emp.date | date : 'dd-mm-yyyy'}}
				 	</td>
					 <td>
						 {{ emp.purpose}}
					 </td>
					 <td>
					 	{{ emp.project }}
					 </td>
					 <td>
						 {{ emp.pm }}
					 </td>
					 <td>
						 {{ emp.rate }}
					 </td>
				 </tr>
	    	</table>
	    </div>
	</div>
</div>
