<div id="btn_testexpense">
	<a class="btn_add red" ng-click="Show_Add_test_form()">Add expense</a>
</div>
<add-testdata ng-hide="showAddTestExpense"></add-testdata>
<div id="expensetable">
	<div class="wrap">
        <table class="head">
            <tr>
    			<th>Name</th>
    			<th>Account(in Rs)</th>
                <th>Reimbursement(in Rs)</th>
    		</tr>
    	</table>
    	<div class="inner_table">
            <table>
                 <tr>
                     <td>{{user1}}</td>
                     <td>{{ $root.total }}</td>
                     <td></td>
    			 </tr>
                 <tr>
                     <td>{{user2}}</td>
                     <td></td>
                     <td></td>
    			 </tr>
        	</table>
        </div>
    </div>
</div>
