<add-testdata ng-hide="showAddTestExpense"></add-testdata>
<div id="expensetable">
	<div class="wrap">
        <table class="head">
            <tr>
    			<th>Name</th>
    			<th>Account(in Rs)</th>
                <th>Reimbursement(in Rs)</th>
    		</tr>
    	</table>
    	<div class="inner_table">
            <table>
                 <tr>
                     <td>{{user1}}</td>
                     <td>{{ $root.total }}</td>
                     <td style="cursor:pointer;" ng-click="reimburse('amount_reimburse')" ng-model="amount_reimburse">{{amount_reimburse}}
					 </td>
    			 </tr>
                 <tr>
                     <td>{{user2}}</td>
                     <td>{{ $root.total2 }}</td>
                     <td style="cursor:pointer;" ng-click="reimburse('amount_reimburse_one')" ng-model="amount_reimburse_one">{{amount_reimburse_one}}
					</td>
    			 </tr>
        	</table>
			<p style="text-align:center; color:#CB3334; margin-top: 20px;">
				Click on Reimbursement column to enter the corresponding reimbursement amount.
			</p>
        </div>
    </div>
</div>
